<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSMotionUsageDescription</key>
    <string>気圧データを取得して頭痛リスクを予測するために使用します</string>
    <key>CFBundleDisplayName</key>
    <string>ズツウォッチ</string>
    <key>CFBundleName</key>
    <string>ZutsuWatch</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>NSUserTrackingUsageDescription</key>
    <string>広告をパーソナライズするために使用します。許可しなくてもアプリは利用できます。</string>
    <key>GADApplicationIdentifier</key>
    <string>ca-app-pub-9404799280370656~6071053129</string>
</dict>
</plist>
